* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
}

.padding-top {
    padding-top: 10px;
}

/* --------------------------------------------- */

header {
    background-color: rgb(221, 131, 67);
    padding: 10px 10px;
}

.container {
    width: 1200px;
    margin: 50px auto;
    text-align: center;
}

#dicebutton {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 15px;
    background-color: coral;
    cursor: pointer;
    margin-top: 50px;
}

.dice-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.box {
    background-color: darkblue;
    border: 2px solid white;
    border-radius: 20px;
    height: 150px;
    width: 150px;
    margin: 20px auto;
    text-align: center;
    line-height: 150px;
    color: white;
}

.red {
    background-color: crimson;
}


